.Intervals {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  & input[type='checkbox'] {
    appearance: initial;
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid black;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }
  & input[type='checkbox']:checked {
    background: black;
  }
  & input[type='checkbox']:checked:after {
    content: '\2715';
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & label {
    font-size: 2rem;
    color: #222222;
    font-weight: 400;
    cursor: pointer;
  }
}
